@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html{
  scroll-behavior: smooth;
}
p,h1,h2{
  color:#0f0f0f;
}
html,body{

}

/* Establecer el tamaño de fuente base y la familia de fuentes */
body {
  background-color:#fbfbfb ;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
    margin:0;
    display: flex;
    flex-direction: column;
  
    width:100%;
}

/* Establecer el ancho máximo del contenido a la pantalla */
.container {
  max-width: 100%;
}

/* Hacer que las imágenes sean 100% de ancho y se ajusten al ancho del contenedor */
img {
  max-width: 100%;
  height: auto;
}

/* Establecer márgenes y relleno a 0 en enlaces */
a {
  text-decoration: none;
  color:black;
}

/* Estilos de medios para dispositivos móviles */


footer, button{
    background-color: #af599e
    ;
}


footer {
  z-index: -2;
  color: #fff;
  padding: 20px;
  height: 5vh;
  width: 100%;
 
  display: flex;
  align-items: center;
}
  /* Estilos para los enlaces del footer */
  footer a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Quitar subrayado del enlace */
  }
  
  /* Estilos para los enlaces del footer al pasar el cursor por encima */
  footer a:hover {
    text-decoration: underline; /* Subrayado del enlace al pasar el cursor por encima */
  }

  footer p {
    text-align: center;
    color: white;
    font-weight: bold;
    width:100vw;
  }
  .fotoPerfil{
    display:grid;
     width: 400px; /* establece el ancho deseado */
    height: 400px; /* establece la altura deseada */
     border-radius: 50%;
     overflow: hidden;
    }
   .fotoPerfil img {
  width: 100%; 
  height: auto; 
}
#logo{
  width:30vw;
}
#encabezado {
  display: flex;
  justify-content: space-between;  
 
  
}
#nb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 20px;
 
  z-index: 999;
  
}
#nb-container figure {
  flex-basis: 30%;
  margin: 2%;
}
aside{
  margin-right: 9%;

}
#nb-container aside {
  display: flex;
  justify-content: flex-end;
}
.nb-text-link {
  display: block;
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.nb-text-link:hover {
  color: #555;
}
hr{

  margin-bottom:7%;
  border: none;
  height: 2px;
  background-color: #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 
              0 2px 2px rgba(0, 0, 0, 0.15), 
              0 4px 4px rgba(0, 0, 0, 0.15), 
              0 8px 8px rgba(0, 0, 0, 0.15);
}
img {
  max-width: 100%;
  max-height: 100%;
}
#nb-container img {
  width: 100%;
  height: auto;
}

.tituloSaludo{
  text-align:center;
  margin:5%;
  font-family: 'Lato', sans-serif;
  font-weight:700;
}
.textoGeneral { 
  padding: 0% 10% 10% ;
  text-align: center;
 
}
#descargaMiCV{
  color:white;
  height: 3rem;
  width:12rem;
  border-radius: 100px;
  margin: 8% auto;
}
#descargaMiCV a{
  color: white;
}
.imagenesContacto{
  width:70px;
}

.textoPrincipal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  min-height:100vh;
  
}
.cuadroRosayTextoHablemos{

  background-color: rgba(175, 89, 158, 0.3);
  width:90%;
  height:40%;
  margin:0 auto;
  border-radius: 5%;
}
.cuadroRosayTextoHablemos .tituloSaludo{
  padding:5% 0 0 0;
  font-size: 25px;
}

#principal{
  margin-top:16%
}
#contacto footer{
  min-height: 100vh;
}
#contacto {
  margin-top:75%;
}
.iconosContacto{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15%;
  margin-bottom: 53%;
}

/*
//////////////////////////////////////////
MEDIA QUERY
////////////////////////////////////////////
*/


 
 
