@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@700&family=Rajdhani:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html{
  scroll-behavior: smooth;
}
p,h1,h2{
  color:#0f0f0f;
}
h1{
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size:2rem;
}
p{
  font-size:0.7rem;
}

body {
opacity:0;
transition: opacity 1s ease-in !important;
  background-color:#fefae0 ;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
    margin:0;
    display: flex;
    flex-direction: column;  
    width:100%;
}

.container {
  max-width: 100%;
}

a {
  text-decoration: none;
  color:black;
}

footer, button{
    background-color: #bc6c25;
}


footer {
  padding: 2rem 0rem;
  height: 5vh;
  display: flex;
  align-items: center;
}

.nb-text-link {
  color: #fff;
  text-decoration: none; 
  position: relative;
  display: inline; /* Cambio a 'inline' en lugar de 'inline-block' */
  font-size: 1.5rem;
  padding: 0rem 0.5rem;
  line-height: 1.8rem; /* Igualar al tamaño de la fuente */
}

.nb-text-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white; /* Color del subrayado */
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nb-text-link:hover::after {
  transform: scaleX(0.8);
}
  footer quote {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size:0.8rem;
    width:100vw;
  }
  .fotoPerfil{
    display:grid;
     width: 15rem;
     border-radius: 50%;
     overflow: hidden;
     margin-top: 1rem;
    }

#logo{
  width:30vw;
}
#encabezado {
 
  display: flex;
  justify-content: space-between;  
  width:100vw;
}
#nb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #606c38;
  padding: 10px 0px;
  
}
#nb-container figure {
  flex-basis: 30%;  
}
aside{
  margin-right: 1rem;

}
#nb-container aside {
  display: flex;
  justify-content: flex-end;
}
.titulo {
  display: block;
  margin-left: 20px;
  color: white; 
}
.rotarImagen:hover{
  transform: rotate(360deg);
  transition: transform 1s;
}
#fondoCuadrado2 {
  overflow:hidden;
  position: absolute;
  z-index:-5;
}
.fondoCuadrado::after {
  content: "";
  position: absolute;
  bottom: 20;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #dda15e;
  transform-origin: bottom left;
  transform: skewY(0deg);
}
.active{
  background-color:#dda15e;
}

hr{

  margin-bottom:5%;
  border: none;
  height: 2px;
  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 
              0 2px 2px rgba(0, 0, 0, 0.15), 
              0 4px 4px rgba(0, 0, 0, 0.15), 
              0 8px 8px rgba(0, 0, 0, 0.15);
}
img {
  max-width: 100%;
  max-height: 100%;
}
#nb-container img {
  width: 100%;
  height: auto;
}

.tituloPrincipal{
   color:white;
}
h2{
  text-align:center;
  margin:0.8rem 0rem;
  font-family: 'Lato', sans-serif;
  font-weight:700;
  font-size:1.4rem;
}
.tituloSaludo{
  color:grey;
}
.tituloHablemos{
 
  color:white;
}

.textoGeneral { 
  text-align: center;
  color: grey;
 }
.textoHablemos { 
  padding: 0% 10% 10% ;
  text-align: center;
  color: white;
 }
#descargaMiCV{
  color:white;
  height: 3rem;
  width:12rem;
  border-radius: 100px;
  margin: 8% auto;
}
#descargaMiCV a{
  color: white;
}
.imagenesContacto{
  width:50px;
}

.textoPrincipal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;  
  padding:2rem;
}
#contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cuadroHablemos {
  background-color: #bc6c25;
  width: 80vw;
  height: 50vh;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cuadroRosayTextoHablemos .tituloSaludo{
  padding:5% 0 0 0;
  font-size: 25px;
}

#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh; /* Ajusta la altura mínima según tus necesidades */
}
#contacto footer{
  min-height: 100vh;
}

.iconosContacto{
  height: 10rem;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#avatar{
  margin-top:2rem;
  width:5rem;
  -webkit-transition: transform 0.5s ease-in-out; /* Transición de 0.5 segundos con aceleración y desaceleración suave */
  transition: transform 0.5s ease-in-out;
  -webkit-transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.separadorAvatar{
  background-color:white;
  height: 0.1rem;
  width:50%;
  border-radius: 25%;  
}
/*
//////////////////////////////////////////
MEDIA QUERY
////////////////////////////////////////////
*/
@media only screen and (min-width: 768px) {
  #avatar{
   width:12rem;
  }
  .contenedorFotoTexto{
    margin-top:10%;
  }
  .cuadroHablemos{
    width: 60vw;
    height: 54vh;
  }
  #principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ajusta la altura mínima según tus necesidades */
    text-align: left;
    margin:0 5% auto;
  }
  .textoGeneral { 

    text-align: left;
    font-size:1.2rem;
    line-height: 1.6;
   
   }
   .fotoPerfil{
    display:grid;
     width: 50rem;
     border-radius: 50%;
     overflow: hidden;
     margin-top:5rem;     
    }
  .textoPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width:60vw;
    height: 20%;
  }
  .tituloSaludo{
    text-align:left;
  }
  .textoPrincipal figure {
    flex-basis: 40%; /* Ajusta el ancho de la figura según tus necesidades */
  }
  
  .textoPrincipal article {
    flex-basis: 55%; /* Ajusta el ancho del artículo según tus necesidades */
  }
  .tituloPrincipal{
    font-size: 4rem;
   
  }
  .iconosContacto{
    padding: 2rem;
    width: 30rem;
    height: 10rem;
  }

  #contacto {
    margin-top: 10%; 
  }
  footer quote {
     font-size:1.2rem;
     }
  .textoHablemos { 
    font-size: 1.5rem;
    padding: 1rem 5rem;
    margin-bottom: 2rem;
  
  }
  h1{
    font-size: 48px;
  }
h2{
  font-size: 32px;
}

}

 
 
