@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@700&family=Rajdhani:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html{
  scroll-behavior: smooth;
}
p,h1,h2{
  color:#0f0f0f;
}
h1{
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size:2rem;
}
html,body{

}

/* Establecer el tamaño de fuente base y la familia de fuentes */
body {
  background-color:#fefae0 ;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
    margin:0;
    display: flex;
    flex-direction: column;
  
    width:100%;
}

/* Establecer el ancho máximo del contenido a la pantalla */
.container {
  max-width: 100%;
}

/* Hacer que las imágenes sean 100% de ancho y se ajusten al ancho del contenedor */


/* Establecer márgenes y relleno a 0 en enlaces */
a {
  text-decoration: none;
  color:black;
}

/* Estilos de medios para dispositivos móviles */


footer, button{
    background-color: #bc6c25;
}


footer {
  padding: 2rem;
  height: 5vh;
  width: 100%;
 
  display: flex;
  align-items: center;
}
  /* Estilos para los enlaces del footer */
  footer a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Quitar subrayado del enlace */
  }
  
  /* Estilos para los enlaces del footer al pasar el cursor por encima */
  footer a:hover {
    text-decoration: underline; /* Subrayado del enlace al pasar el cursor por encima */
  }

  footer quote {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size:0.8rem;
    width:100vw;
  }
  .fotoPerfil{
    display:grid;
     width: 15rem;
     border-radius: 50%;
     overflow: hidden;
     margin-top: 5rem;
    }

#logo{
  width:30vw;
}
#encabezado {
  display: flex;
  justify-content: space-between;  
  
}
#nb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #606c38;
  padding: 10px 20px;
  z-index: 999;
  
}
#nb-container figure {
  flex-basis: 30%;
  margin: 2%;
}
aside{
  margin-right: 9%;

}
#nb-container aside {
  display: flex;
  justify-content: flex-end;
}
.nb-text-link {
  display: block;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
/* .fondoCuadrado {
  position: absolute;
  top: -20;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #dda15e;
  transform-origin: top right;
  transform: skewY(-12deg);
  z-index: -5;
  overflow:hidden;
  
} */
.fondoCuadrado2 {
  overflow:hidden;
  position: absolute;
  z-index:-5;
}
.fondoCuadrado::after {
  content: "";
  position: absolute;
  bottom: 20;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #dda15e;
  transform-origin: bottom left;
  transform: skewY(0deg);
}

.nb-text-link:hover {
  color: #555;
}
hr{

  margin-bottom:5%;
  border: none;
  height: 2px;
  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 
              0 2px 2px rgba(0, 0, 0, 0.15), 
              0 4px 4px rgba(0, 0, 0, 0.15), 
              0 8px 8px rgba(0, 0, 0, 0.15);
}
img {
  max-width: 100%;
  max-height: 100%;
}
#nb-container img {
  width: 100%;
  height: auto;
}

.tituloPrincipal{
   color:white;
}
h2{
  text-align:center;
  margin-bottom:5%;
  font-family: 'Lato', sans-serif;
  font-weight:700;
  font-size:2rem;
}
.tituloSaludo{
  color:grey;
}
.tituloHablemos{
  margin-top: 5%;
  color:white;
}

.textoGeneral { 
  text-align: center;
  color: grey;
 }
.textoHablemos { 
  padding: 0% 10% 10% ;
  text-align: center;
  color: white;
 }
#descargaMiCV{
  color:white;
  height: 3rem;
  width:12rem;
  border-radius: 100px;
  margin: 8% auto;
}
#descargaMiCV a{
  color: white;
}
.imagenesContacto{
  width:70px;
}

.textoPrincipal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;  
}
#contacto {
  margin-top: 75vh; /* Ajusta el margen superior según tus necesidades */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Para centrar el texto dentro del cuadro */
}

.cuadroHablemos {
  background-color: #bc6c25;
  width: 60vw;
  height: 40%;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cuadroRosayTextoHablemos .tituloSaludo{
  padding:5% 0 0 0;
  font-size: 25px;
}

#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh; /* Ajusta la altura mínima según tus necesidades */
}
#contacto footer{
  min-height: 100vh;
}

.iconosContacto{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*
//////////////////////////////////////////
MEDIA QUERY
////////////////////////////////////////////
*/
@media only screen and (min-width: 768px) {
  .contenedorFotoTexto{
    margin-top:10%;
  }
  #principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ajusta la altura mínima según tus necesidades */
    text-align: left;
    margin:5% auto;
  }
  .textoGeneral { 

    text-align: left;
    font-size:1.2rem;
    line-height: 1.6;
   
   }
   .fotoPerfil{
    display:grid;
     width: 50rem;
     border-radius: 50%;
     overflow: hidden;
     margin-top: 5rem;
    }
  .textoPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width:60vw;
    height: 20%;
  }
  .tituloSaludo{
    text-align:left;
  }
  .textoPrincipal figure {
    flex-basis: 40%; /* Ajusta el ancho de la figura según tus necesidades */
  }
  
  .textoPrincipal article {
    flex-basis: 55%; /* Ajusta el ancho del artículo según tus necesidades */
  }
  .tituloPrincipal{
    font-size: 4rem;
   
  }
  .iconosContacto{
    padding: 2rem;
    width: 30rem;
    height: 10rem;
  }

  #contacto {
    margin-top: 10%; 
  }

}

 
 
